<div class="container-fluid">

    <div class="row d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="col-6">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-6 d-flex align-items-center justify-content-center" style="font-size: 200px;
                color:#0f1727;
                text-shadow:5px 5px 4px #6a6f79 ;
                border-bottom:double rgb(160, 160, 160);
                padding: 0px;
                border-width:6px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">
                    404
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-5 d-flex align-items-center justify-content-center pt-3 text-danger" style="font-size: 30px;
                /* color:#c05e40; */
                text-shadow:1px 1px 1px ;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">
                    Page Not Found..!!!
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center pt-5">
                <div class="col-3 btn btn-block btn-outline-danger mb-5"
                    style="border-style:outset;border-radius: 10px;border-width:3px;" routerLink="/login">
                    Back To Home Page
                </div>
            </div>
        </div>
    </div>

</div>