<div class="container-fluid">


    <!-- FacebookName -->
    <div class="row" style="height: 10vh;
    background-color: #3b5998;
    color: white;">
        <div class="col-1 "></div>
        <div class="col-2 text-white pt-2" style="font-size:40px;font-weight:bolder;" routerLink="/login">
            facebook
        </div>
    </div>

    <!-- mainbody -->
    <div class="row d-flex justify-content-center align-items-center" style="height: 80vh">
        <div class="col-5 bg-light rounded"
            style="border:rgb(163, 157, 157) 1px solid;box-shadow: rgb(202, 202, 202) 4px 4px 4px;">
            <div class="row d-flex justify-content-center align-items-center">

                <div class="col-11 p-3"
                    style="border-bottom:rgb(163, 157, 157) 1px solid;font-weight:700;font-size: 20px;">
                    Change Password
                </div>

            </div>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 m-1" style="font-size:13px;" [formGroup]="fbFormGroup">
                    Please enter your email address and new password to continue to update your password.
                    <div style="padding-bottom: 5px;">
                        <input type="text" placeholder="Email Address" class="form-control  m-1"
                            formControlName="email">
                    </div>
                    <div style="padding-bottom: 5px;">
                        <input type="text" placeholder="New Password" class="form-control  m-1"
                            formControlName="password">
                    </div>
                    <!-- <div style="padding-bottom: 5px;">
                        <input type="text" placeholder="Confirm Password" class="form-control  m-1"
                            formControlName="confirm">
                    </div> -->
                </div>
                <div class="col-2"></div>
            </div>

            <!-- <div class="row">
                <div class="col-12 "
                    style="border-top:rgb(163, 157, 157) 1px solid; background-color: rgb(219, 217, 217);"> -->

            <div class="row py-2 d-flex justify-content-end"
                style="border-top:rgb(163, 157, 157) 1px solid; background-color: rgb(219, 217, 217);">

                <div class="col-4  d-flex justify-content-end">
                    <input type="button" value="Confirm" class="btn btn-sm btn-primary m-1" (click)="confirmPwd()">
                    <input type="button" value="Cancel" class="btn btn-sm btn-secondary m-1">
                </div>
            </div>

            <!-- </div>
            </div> -->
        </div>
    </div>


</div>




<!-- <div class="row" style="background-image:linear-gradient(#ffffff,#dddde9); height: 620px; padding:30px 170px ;">

    <div class="col-1"> -->

<!-- </div>


</div> -->