

        .form-controlsetting {

            height: 25px !important;
        }


        select {
            width: 65px !important;
            height: 30px !important;
            text-align: center;
        }
  